

  #portfolio {
  text-align: center;
  background-color: #c6faed;
  height : 100vh;
}

.project {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  
}

.project img {
 
    width: 75%;
    height: auto;
  }

.project h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
}