.resume-container {
  background-color: #a0ffc9;
  font-family: Arial, sans-serif;
  padding: 20px;
  height:100vh
}

.resume-container p {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px;
  padding: 20px;
  background-color: #f0c4f6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.resume-container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.resume-container h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.resume-container ul {
  margin-left: 30px;
  list-style-type: square;
}

.resume-container li {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
}

.resume-container a {
  color: #0077b6;
  text-decoration: none;
}

.resume-container a:hover {
  text-decoration: underline;
}

.contact-container {
  background-color: #ffd9f5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.contact-container h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

