

  #portfolio {
  text-align: center;
  background-color: #c6faed;
}

.project {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.project img {
  max-width: 100%;
  border-radius: 5px
}

.project h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
}